html,
body,
.app {
  height: 85vh;
  background: #fff;
  /* padding: 1em; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.stacked.segment:after, .ui.stacked.segment:before, .ui.stacked.segments:after, .ui.stacked.segments:before{
  border-top: none !important;
  background: none !important;
}
.mb25{
  margin-bottom: 25px !important;
}

.mt25{
  margin-bottom: 25px;
}
.ui.search.customSearch> .ui.input > input{
  width:400px;
}
.results.transition.visible{
  display: none !important;
}

.ui.four.column.grid.nodes {
  display: flex;
  list-style: none;
}
.ui.four.column.grid.nodes > div {
  padding: 10px 25px;
  /* border: 1px solid black; */
  margin: 0 25px;
  position: relative;
}
.ui.four.column.grid.nodes > div:not(:last-child):after {
  content: '';
  height: 1px;
  background: black;
  width: 90px;
  position: absolute;
  right: -65px;
  top: 50%;
}
.ui.four.column.grid.nodes > div:not(:last-child):before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  border-style: solid;
  border-width: 7px 0 7px 20px;
  border-color: transparent transparent transparent black;
  right: -75px;
  transform: translateY(-50%);
}